<h1>Todo app</h1>

<form (submit)="addTask()">
  <input 
    [(ngModel)]="task" 
    type="text" 
    name="newTaskText" 
    placeholder="Task at hand..."
  >
  <button type="submit">Add task</button>
</form>

<ul>
  @for (task of incompleteTasks; track task.id) {
    <li>
      <button type="button" (click)="toggleTask(task)">Toggle</button>
      <span>{{ task.text }}</span> 
    </li>
  }
</ul> 

<ul>
  @for (task of completeTasks; track task.id) {
    <li>
      <button type="button" (click)="toggleTask(task)">Toggle</button>
      <span>{{ task.text }}</span> 
    </li>
  }
</ul>
