*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}
// css reset above ends here

body {
  margin: 0;
  background-color: rgb(246 246 248);
  min-height: 100vh;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px;
}

.header {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  margin-bottom: 8px;
  font-weight: 900;
}

.date {
  font-size: 18px;
  color: rgb(100 116 139);
}

.status {
  background-color: #fff;
  border-radius: 16px;
  padding: 12px 20px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status-line-1 {
  font-size: 12px;
  color: rgb(148 163 184);
  text-transform: uppercase;
  margin-bottom: 6px;
}

.status-line-2 {
  font-size: 18px;
  color: rgb(15 23 42);
}

.tasks-and-input {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.08);
}

form {
  padding: 32px;
  border-bottom: 1px solid rgb(241 245 249);
  background-color: rgb(248 250 252 / 0.5);
  display: flex;
  gap: 16px;
}

input {
  background-color: rgb(241 245 249);
  width: 100%;
  height: 56px;
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
  transition-duration: 200ms;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  &:focus {
    border: 1px solid rgb(43 108 238 / 0.3);
    outline: none;
  }
}

.add {
  text-wrap: nowrap;
  padding: 0 32px;
  color: #fff;
  background-color: rgb(43 108 238);
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px #2b6cee40, 0 4px 6px -4px #2b6cee40;
  cursor: pointer;
  transition-duration: 200ms;

  &:hover {
    background-color: rgb(37 99 235);
  }
}

.tasks {
  display: flex;
  padding: 32px;
  flex-direction: column;
  gap: 16px;
}

.task {
  display: flex;
  padding: 16px;
  flex-direction: row;
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid rgb(241 245 249);
  align-items: center;
  font-size: 18px;
  transition-duration: 200ms;
}

.task:not(.completed) {
  &:hover {
    border-color: rgb(43 108 238 / 0.3);
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  }
}

.checkbox {
  cursor: pointer;
  color: rgb(229, 231, 235);
  width: 24px;
  height: 24px;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 100%;
  margin-right: 12px;
  flex-shrink: 0;
}

.delete {
  cursor: pointer;
  padding: 12px 24px;
  margin-left: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 200ms;
  background-color: transparent;
  opacity: 0;
  color: rgb(148 163 184);

  &:hover {
    color: rgb(239 68 68);
    background-color: rgb(254 242 242);
  }

  .task:hover & {
    opacity: 1;
  }
}

.task.completed {
  background-color: rgb(248 250 252);
  color: rgb(148 163 184);
  opacity: 0.75;
  border-color: transparent;

  &:hover {
    opacity: 1;
  }

  .checkbox {
    border-color: transparent;
    background-color: rgb(43 108 238);
  }

  .task-text {
    text-decoration: line-through;
  }
}

.empty {
  padding: 38px;
  text-align: center;
  color: rgb(100 116 139);
  font-weight: 600;
}

@keyframes slideIn {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
    margin-bottom: -16px;
  }
  to {
    height: 80px;
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 0;
  }
}

@keyframes slideOut {
  from {
    height: 80px;
    opacity: 1;
    transform: translateX(0);
    margin-bottom: 0;
  }
  to {
    height: 0;
    opacity: 0;
    transform: translateX(10px);
    margin-bottom: -16px;
  }
}

.task-enter,
.task-leave {
  position: relative;
  & > * {
    background-color: white;
    position: absolute;
    width: 100%;
  }
}

.task-enter {
  z-index: 10;
  animation: slideIn 500ms ease-out;
}

.task-leave {
  animation: slideOut 500ms ease-out;
}
